@model IEnumerable<Productdata>
@inject IHttpContextAccessor HttpContextAccessor
@{
    var role = HttpContextAccessor.HttpContext.Session.GetString("Role");
}
@if (Model == null)
{
    <h1 style="color:red">Page Not found...</h1>
}
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h3 class="text-primary">Product List</h3>
        </div>
        <div class="col-6 text-end">
            
          @if(role=="Dealer"){
            <a class="btn btn-primary" asp-action="productPage"><i class="bi bi-plus-circle"></i> Add Product</a>

          }
            @if (role != "Dealer")
            {
                
                <a class="btn btn-primary" asp-area="User" asp-controller="User" asp-action="Dashboard"><i class="bi bi-backspace"></i> Go Back</a>
            }

        </div>
    </div>
</div>
<br />

<table class="table table-bordered table-striped">
    <thead>
        <tr>

            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>IsActive</th>
            <th>DiscountAmount</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>

                <td width="30">
                    @obj.ProductName
                </td>
                <td width="30">
                    @obj.Description
                </td>
                <td width="30">
                    @obj.Price
                </td>
                <td width="30">
                    @obj.Quantity
                </td>
                <td width="30">
                    @obj.IsActive
                </td>
                <td width="30">
                    @obj.DiscountAmount
                </td>
                <td width="20" style="text-align:center">
                   @if(@ViewBag.roletype=="Dealer"){
                    <div class="w-75 btn-group" role="group">
                            <a class="btn btn-primary" asp-action="productPage" asp-route-id="@obj.ProductId"><i class="bi bi-pencil-square"></i> Edit</a>
                          &nbsp;
                        <a class="btn btn-success" asp-action="AddDiscount" asp-route-id="@obj.ProductId">Discount</a>
                          &nbsp;
                            <a class="btn btn-danger" asp-action="DeleteProduct" asp-route-id="@obj.ProductId"><i class="bi bi-trash"></i> Delete</a>
                        &nbsp;
                       @if(obj.IsActive==false){

                            <a class="btn btn-outline-success" asp-action="StatusUpdate" asp-route-id="@obj.ProductId">IsActive</a>
                        }
                        else
                        {
                            <a class="btn btn-outline-danger" asp-action="StatusUpdate" asp-route-id="@obj.ProductId">DeActive</a>

                        }
                     </div>

                    }
                    else
                    {
                        <a class="btn btn-danger" asp-action="DeleteProduct" asp-route-id="@obj.ProductId"><i class="bi bi-trash"></i> Delete</a>
                       if(obj.IsActive==false){

                            <a class="btn btn-outline-success" asp-action="StatusUpdate" asp-route-id="@obj.ProductId">IsActive</a>
                        }
                        else
                        {
                            <a class="btn btn-outline-danger" asp-action="StatusUpdate" asp-route-id="@obj.ProductId">DeActive</a>

                        }

                    }


                </td>
            </tr>
        }
    </tbody>
</table>

